
/*edit navBar*/
li{
    
    color: black;
    
    margin-left: 140px;
    
    float: left;
    
    padding-left: auto;
    padding-right: auto;
     
    text-decoration: none;
    
    text-align: center;
    
    font-size: 25px;
    
    font-family: 'Montserrat', sans-serif;
    
}

a{
    margin-left: 117px;
    
    text-decoration: none;
    
    color: black;
    
    float: left;
    
    padding-left: auto;
    padding-right: auto;
}

header{
    align-content: center;
    text-align: center;
}

.navBar_links {
    list-style: none;
}

.navBar_links li {
    display: inline-block;
}

.navBar_links li a:hover {
    color: darkgrey;
}


/*header edit*/
h1{
    color: black;
    
    text-align: center;
    
    font-family: 'Montserrat', sans-serif, 200;
}

/*edit to hyper link*/
a:link{
        color:aliceblue;
}

/*setup of the website*/
body{
    background-color: blanchedalmond;
    position: relative;
}

/*position image 1*/
.alignImage1{
    display: flex;
    margin-top: 60px;
    position: absolute;
    left: 15px;
    /*float: left;
    margin-left: 0px 0px 30px;*/
    width:50%;
    padding: 0px;
    
}

/*position image 2*/
.alignImage2{
    display: flex;
    position: absolute;
    margin-top: 42px;
    left: 535px;
    width:47.9%;
    padding: 0px;
    
}

/*edit to the images*/
img{
   display:block;
    margin-left: auto;
    margin-right: auto;
}

.doublespace{
    line-height: 2;
}

/*div{
    padding-left: 180px;
    padding-top: 150px;
    z-index:-1;
    position: fixed;
}*/